<h1 align='center' >Chefs Profile</h1>
<hr />

<div class='row'>
    <div class='col-12 center'>
        <%= gravatar_for @chef, size:150 %>
        <h3 class='my-4' > <%= @chef.name.capitalize %> </h3>
    </div>
</div>
<hr/>

<% if @chef.recipes.count > 0 %>
    <h4 align="center"><%= @chef.name %>'s recipes</h4>
    <div class='paginate'>
            <%= will_paginate @chef_recipes %>
    </div>
    <%= render 'recipes/recipe', obj: @chef_recipes %>
<% else %>
    <h4 align='center'>No recipes yet!</h4>
<% end %>