<h2 align='center' >Recipe Name: <%= @recipe.name.capitalize %> </h2>
<hr/>
<div class='p-3 bg-light'>
    <h4 class='center description'> <strong> Steps: </strong> </h4>
    <hr/>
    <%= simple_format(@recipe.description) %>
    <hr />
  <div class="pull-right">
    <p>
      Created by:
    </p>
    <p>
        <%= link_to gravatar_for(@recipe.chef), recipes_path %>
    </p>
    <p>
      <p> <small><%= @recipe.chef.name.capitalize %></small> </p> 
       <% if logged_in? && (current_chef == @recipe.chef || current_chef.admin?)  %>
        <%= link_to 'Edit recipe',edit_recipe_path(@recipe) ,class: 'btn btn-sm btn-warning' %>
        <%= link_to 'Delete recipe', recipe_path(@recipe), method: :delete, data:{confirm:'Are you sure?'},class:'btn btn-sm btn-danger' %>
      <% end %>
        <%= link_to "Return to all recipe's", recipes_path , class:'btn btn-sm btn-primary' %>
      <div align='right'>
        <%= time_ago_in_words(@recipe.created_at) %> ago
      </div>
    </p>
  </div>
</div>
