<h2 align='center' >Recipe Name: <%= @recipe.name.capitalize %> </h2>
<hr/>
<div class='p-3 bg-light'>
    <h4 class='center description'> <strong> Steps: </strong> </h4>
    <hr/>
    <%= simple_format(@recipe.description) %>
    <hr />
    
    <% if @recipe.ingredients.any? %>
      <p> Ingredients: <%= render @recipe.ingredients %> </p>
    <% end %>
    
  <div class="pull-right">
    <p>
      Created by:
    </p>
    <p>
        <%= link_to gravatar_for(@recipe.chef), chef_path(@recipe.chef) %>
    </p>
    <p>
      <p> <small><%= @recipe.chef.name.capitalize %></small> </p> 
       <% if logged_in? && (current_chef == @recipe.chef || current_chef.admin?)  %>
        <%= link_to 'Edit recipe',edit_recipe_path(@recipe) ,class: 'btn btn-sm btn-warning' %>
        <%= link_to 'Delete recipe', recipe_path(@recipe), method: :delete, data:{confirm:'Are you sure?'},class:'btn btn-sm btn-danger' %>
      <% end %>
        <%= link_to "Return to all recipe's", recipes_path , class:'btn btn-sm btn-primary' %>
      <div align='right'>
        <%= time_ago_in_words(@recipe.created_at) %> ago
      </div>
    </p>
  </div>
</div>

<% if logged_in? %>
    <div class='row'>
      <div class='col-md-8 offset-md-2'>
        <h3>Comments:</h3>
        <hr/>
        <%= form_for([@recipe,@comment], :html =>{class: 'form-horizontal',role:'form'}) do |f| %>
          <div class='mb-3 row'>
        <div class="form-label col-md-2">
          <%= f.label :description, "Comment:  "  %>
        </div>
        <div class="col-md-10">
          <%= f.text_area :description,
                    rows: 5, 
                    class: "form-control", 
                    placeholder: "Enter your comment" %>
        </div>
      </div>
      <%= f.submit "Submit comment", class: "btn btn-primary offset-md-2" %>
        <% end %>
      </div>
    </div>
<% end %>

<% if @recipe.comments.count != 0 %>
  <div class='row my-4'>
    <div class='col-md-8 offset-md-2'> 
      <h3>Prior Comments:</h3>
      <div>
        <%= render partial: 'comments/comments', object: @comments %>
      </div>
    </div>
  </div>
<% else %>
  <div class='row my-4'>
    <div class='col-md-8 offset-md-2'>
      <h3>No Comments Yet!</h3>
    </div>
  </div>
<% end %>